{% extends "base.html" %}

{% block title %}系统设置{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/settings/general' %}active{% endif %}" href="/settings/general">
                            <i class="fas fa-cog fa-fw me-2"></i>
                            系统设置
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/settings/users' %}active{% endif %}" href="/settings/users">
                            <i class="fas fa-users fa-fw me-2"></i>
                            用户管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/settings/permissions' %}active{% endif %}" href="/settings/permissions">
                            <i class="fas fa-user-shield fa-fw me-2"></i>
                            权限管理
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 主内容区 -->
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block settings_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // 设置页面通用脚本
    });
</script>
{% block additional_scripts %}{% endblock %}
{% endblock %} 